ul {
  list-style: none;
}

li {
  display: inline;
  margin: 10px;
}

img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

nav {
  float: right;
}

.app {
  width: 15px;
  height: 15px;
}

.user {
  border-radius: 50%;
}

.username {
  color: grey;
}
