ul {
  list-style: none;
}

li {
  display: inline;
  margin: 10px;
}

li img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

nav {
  float: right;
}

.app {
  width: 15px;
  height: 15px;
}

.user {
  border-radius: 50%;
}

.username {
  color: grey;
}

.cl {
  clear: both;
}
.hero {
  display: block;
}

.mainlogo {
  display: block;
  width: 300px;
  margin: 100px auto 0 auto;
}

.search {
  display: block;
  margin-left: 420px;
}

.buttons {
  display: block;
  margin-left: 550px;
  margin-top: 10px;
}
